body {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.header {
    background: rgb(163,49,49);
background: radial-gradient(circle, rgba(163,49,49,1) 0%, rgba(235,142,36,1) 100%);
}

.nav-gradient {
    background: rgb(163,49,49);
background: radial-gradient(circle, rgba(163,49,49,1) 0%, rgba(235,142,36,1) 100%);
}

.bg {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.bg-travel {
    background: rgb(35,204,151);
background: radial-gradient(circle, rgba(35,204,151,1) 18%, rgba(17,202,231,1) 51%, rgba(0,212,255,1) 79%);
}